<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Biometrics" version="2.0.3" targetFramework="portable45-net45+win8+wp8" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="portable45-net45+win8+wp8" />
  <package id="Plugin.Share" version="4.0.3" targetFramework="portable45-net45+win8+wp8" />
  <package id="Prism.Core" version="6.2.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Prism.Forms" version="6.2.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Prism.Unity.Forms" version="6.2.0" targetFramework="portable45-net45+win8+wp8" />
  <package id="Unity" version="4.0.1" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xam.Plugins.Settings" version="2.5.4" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="portable45-net45+win8+wp8" />
  <package id="Xamarin.Forms.Maps" version="2.3.2.127" targetFramework="portable45-net45+win8+wp8" />
</packages>